#about .items{
    display: block;
    padding: 0rem;
    /* border: 5px solid red; */
}



/* Align icon center */
#about .items .item{
    /* display: flex; */
    text-align: center;
    /* border: 5px solid red; */
    /* padding: 0rem; */
    align-items: center;
}

/* Postion icon */
#about .items .item i{
    /* margin-right: 1.3rem; */
    align-self: center;
    /* margin-bottom: 0; */

}


#gallery{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    /* border: 5px solid red; */
    justify-content: center;

}



/* Smartphones */
@media(max-width:500px){
    #about .items .item {
        text-align: center;
    }
    #about h2{
        padding-bottom: 1rem;
    }

    #about .items .item{
        /* transition: all 2s ease-in ; */
        padding: 0.5rem;
        /* border-top:2px solid #4bc2ea; */
        flex-direction: column;
    }

    #about .items .item:before{
        content: "";
        display:block;
        margin: 0 auto;
        width:50%;
        padding-bottom:20px;
        /* border-top:2px solid #4bc2ea; */
    } 


    #navbar{
        flex-direction: column;
        align-items: center;
    }
    /* #navbar ul li a{
        padding: 0.5rem 0.4rem;
    } */
    #navbar .logo{
        /* margin-bottom: 1rem ; */
        text-align:center ;
    }
    .g-container{
        display: flex;
        flex-direction: column;
        /* border: 5px solid red; */
    }
    .gallery-image img{    
        justify-content: center;
        /* border: 5px solid red; */
    }
    #contactus{
        margin-bottom: 1px;
    }
    #contact .contact-box{
        flex-direction: column;
        /* border: 5px solid red; */
    }
    /* #contact .contact-box .map{
    height: 1000px;
    
} */
    #contact .contact-form .total-form{
        /* border: 5px solid red; */
        width: 50%;
        margin: auto;
    }

    .l-heading{
        font-size: 2rem;
    }
    
    
    .lead{
        font-size: 1rem;
    }
    #about .items{
        padding: 0.05rem;
    }
    /* #navbar{display: none;} */
    /* #about{display: none;} */
    /* #gallery{display: none;} */
    /* #events{display: none;} */
    /* #contact{display: none;} */
    /* #main-footer{display: none;} */
    /* #showcase{display: none;} */
}


@media(max-width:360px){
    /* #navbar ul li a{
        color: #fff;
        padding: 0.5rem auto;
    } */

}
@media(max-width:320px){
    /* #navbar ul li a{
        color: #fff;
        padding: 0.5rem 0.1rem;
    } */
}